<div ng-controller="ModalCtrl">
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <form role="form" name="myForm" class="form-horizontal">
            <div class="row">
                <div class="form-group" ng-class="{error: myForm.login.$invalid && myForm.login.$dirty}">
                    <label class= "col-md-2"> Login </label>
                    <div class="col-md-4">
                        <input name="login" ng-model="user.login" type="text" class="form-control" placeholder="Login" required/>
                        <span ng-show="myForm.login.$dirty && myForm.login.$error.required" class="help-inline">Login Required</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{error: myForm.name.$invalid && myForm.name.$dirty}">
                    <label class="col-md-2"> Name </label>
                    <div class="col-md-4">
                        <input name="name" ng-model="user.name" type="text" class="form-control" placeholder="Your name" required/>
                        <span ng-show="myForm.name.$dirty && myForm.name.$error.required" class="help-inline">Name Required</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{error: myForm.email.$invalid && myForm.name.$dirty}">
                    <label class= "col-md-2"> Email address </label>
                    <div class="col-md-4">
                        <input name="email" ng-model="user.email" type="email" class="form-control" placeholder="Enter email" required/>
                        <span ng-show="myForm.email.$error.required && !myForm.email.$pristine" class="help-inline">Email Required</span>
                        <span ng-show="myForm.email.$error.email" class="help-inline">Email is not valid</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class= "col-md-2">Telephone </label>
                    <div class="col-md-4">
                        <input ng-model="user.telephone" type= "text" class= "form-control" placeholder= "Telephone"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button ng-click="saveUser(user);"
                ng-disabled="myForm.$invalid"
                class="btn btn-primary">Save</button>
        <button ng-click="deleteUser(user._id)"
                ng-show="user._id" class="btn btn-warning">Delete</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>
