<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="navbar navbar-default">
                <div class="navbar-header">
                    <a class="navbar-brand">Angular application</a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a ng-controller="ModalCtrl" ng-click="open()">Add new User</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12" ng-show="users.length > 0">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>login</th>
                        <th>name</th>
                        <th>email</th>
                        <th>telephone</th>
                        <th>action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users">
                        <td>{{user._id}}</td>
                        <td>{{user.login}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.telephone}}</td>
                        <td ng-controller="ModalCtrl" ng-click="open()"><a class="btn btn-info">edit</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12" ng-show="users.length == 0">
            <div class="col-md-6 col-lg-push-5">
                <h4>Users not found</h4>
            </div>
        </div>
    </div>
</div>